/*
    COPYRIGHT 2021 @ LewdTechnologies

    CONTACT:
    # Email: LewdTechnologies@gmail
    # Website: Github.com/LewdTechnologies/Neko
*/


/*
      SEARCH PRESETS
*/

search > presets {

   width: 100%;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

   gap: 5px;

   padding-left: 38px;

}

search > presets > rating {

   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   align-items: center;

   gap: 4px;

}

search > presets > rating > * {

   border: 1px dashed transparent;
   border-radius: 16px;
   cursor: pointer;
   background-color: #00000029;

   display: flex;

}

search > presets > rating img {

   width: 42px;
   height: auto;
   pointer-events: none;

}


/*
      TEMPORARY RATING SELECTED
*/

presets > rating.safe > safe,
presets > rating.explicit > explicit,
presets > rating.questionable > questionable {

   background-color: white;

}

presets > rating.safe > safe > img,
presets > rating.explicit > explicit > img,
presets > rating.questionable > questionable > img {

   filter: invert(1);

}


/*
      DEFAULT RATING SELECTED
*/

presets > rating.default_safe > safe,
presets > rating.default_explicit > explicit,
presets > rating.default_questionable > questionable {

   border-color: white;

}


/*
      DEFAULT & TEMPORARY DEFAULT RATING SELECTED
*/

presets > rating.safe.default_safe > safe,
presets > rating.explicit.default_explicit > explicit,
presets > rating.questionable.default_questionable > questionable {

   border-color: var(--font-blue);

}


/*
      SEARCH QUICK SETTINGS
*/

search > primary > bar > options {

   position: absolute;
   height: 39px;
   left: -6px;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

   padding: 0 10px;
   margin: 6px;
   border-radius: 12px;

   z-index: 999;

}

search > primary > bar > options > setting {

   font-weight: bold;
   color: var(--font-white);
   cursor: pointer;

}

search.hasSuggestions:not(.hasAdvanced) {

   border-bottom-left-radius: 0;

}

search.hasSuggestions > primary > bar {

   border-bottom-left-radius: 0;

}

search.hasTags:not(.hasAdvanced) {

   border-top-right-radius: 24px;

}

search.hasTags {

   border-bottom-right-radius: 24px;

}

search.hasTags > primary > bar {

   border-top-right-radius: 24px;
   border-bottom-right-radius: 24px;

}


/*
      SEARCH TAG MODE
*/

search-tag-modes {

   position: fixed;

   width: 104px;
   height: 104px;

   transform: translate(-50%,-50%);

   -webkit-mask-image: url('chrome-extension://__MSG_@@extension_id__/resource/icons/2CFVBSS762.png');
   background-color: var(--blue-dark);
}

search-tag-modes > border {

   position: absolute;

   left: 0;
   right: 0;
   width: 104px;
   height: 104px;

   -webkit-mask-image: url('chrome-extension://__MSG_@@extension_id__/resource/icons/2CFVBSS769.png');
   background-color: var(--blue-dim);

}

search-tag-modes > mode {

   position: absolute;

   cursor: pointer;

   background-size: contain;

}

search-tag-modes > mode:hover {


   filter: contrast(3);

}

search-tag-modes > mode:nth-of-type(1) {

   left: 4px;
   top: 50%;
   width: 27px;
   height: 26px;

   transform: translateY(-50%);

   background-image: url('chrome-extension://__MSG_@@extension_id__/resource/icons/2CFVBSS765.png');

}

search-tag-modes > mode:nth-of-type(2) {

   left: 50%;
   top: 5px;

   transform: translateX(-50%);

   background-color: green;

   visibility: hidden;

}

search-tag-modes > mode:nth-of-type(3) {

   right: 5px;
   top: 50%;

   transform: translateY(-50%);

   background-color: blue;

   visibility: hidden;

}

search-tag-modes > mode:nth-of-type(4) {

   left: 50%;
   bottom: 5px;

   transform: translateX(-50%);

   background-color: pink;

   visibility: hidden;

}
