/*
    COPYRIGHT 2021 @ LewdTechnologies

    CONTACT:
    # Email: LewdTechnologies@gmail
    # Website: Github.com/LewdTechnologies/Neko
*/


/*
      BASE
*/

* {
   width: fit-content;
   height: fit-content;
   position: relative;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   color: var(--font-light);
   text-decoration: none;
   font-family: var(--font-default);
   user-select: none;
}


/*
      LINK
*/

a {
   user-select: all;
}


/*
      SCROLLBAR
*/

::-webkit-scrollbar {
  display: none;
}


/*
      BODY
*/

body {

   min-width: 1000px;
   min-height: 440px;
   width: 100vw;
   height: 100vh;
   max-width: 100vw;
   max-height: 100vh;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: stretch;

   background-color: var(--blue-dark);
   background-image: var(--background);

}


/*
      ADVANCED
*/

[advance]:not(.show) {

   display: none;

}


/*
      MINIMIZE
*/

body.minimize [minimizable] {

   display: none;

}

body.minimize > content {

   height: calc(100% - 16px);

}


/*
      NAVIGATION
*/

navigation {

   width: calc(100% - 64px - 16px);

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: space-evenly;
   align-items: center;

   background: var(--blue-dark);
   padding: 8px;
   margin: 0 32px;
   border-radius: 0 0 8px 8px;

}

navigation > * {

   font-weight: bold;

}

navigation > div {

   cursor: pointer;

}

navigation > .logIO {

   transition: .5s;

}


/*
      CONTENT
*/

content {

   width: calc(100% - 16px);
   height: calc(100% - 38px - 16px);

   padding: 8px;

}


/*
      MAIN
*/

main {

   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: flex-start;
   justify-content: stretch;
   align-items: flex-start;

   overflow: hidden;

}


left {

   min-width: fit-content;
   min-height: fit-content;
   height: 100%;

   overflow: scroll;

}


middle {

   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

}


right {

   width: fit-content;
   height: 100%;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: flex-end;
   justify-content: flex-start;
   align-items: stretch;

   gap: 10px;

}


/*
      TAG LIST
*/

left > taglist {

   width: 132px;
   height: fit-content;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: flex-start;
   align-items: stretch;
   justify-content: flex-start;

   background-color: var(--blue-dim);
   background-image: var(--decoration);
   background-repeat-y: no-repeat;

   padding: 18px;
   margin-right: 8px;
   border-radius: 8px;
   gap: 8px;

   overflow-y: scroll;

}

taglist > tag {

   width: 100%;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: space-between;
   align-items: center;

   gap: 6px;

}

taglist > tag > name {

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center

}

taglist > tag > name > span {

   font-weight: bold;

}

taglist > tag[data-category='unknown'] > name > span {
   color: var(--category-unknown); }
taglist > tag[data-category='general'] > name > span {
   color: var(--category-general); }
taglist > tag[data-category='artist'] > name > span {
   color: var(--category-artist); }
taglist > tag[data-category='copyright'] > name > span {
   color: var(--category-copyright); }
taglist > tag[data-category='character'] > name > span {
   color: var(--category-character); }
taglist > tag[data-category='species'] > name > span {
   color: var(--category-species); }
taglist > tag[data-category='invalid'] > name > span {
   color: var(--category-invalid); }
taglist > tag[data-category='meta'] > name > span {
   color: var(--category-meta); }
taglist > tag[data-category='lore'] > name > span {
   color: var(--category-lore); }

taglist > tag > :is(name,count) {

   transition: .3s;

}

taglist > tag.dummy > name ,
taglist > tag.dummy > count {

   filter: blur(2.5px);

}

taglist > tag > count {

   color: var(--font-gray);
   font-size: 12px;
   font-weight: bold;

}

taglist > tag > a {

   position: absolute;
   width: 100%;
   height: 100%;

}


/*
      SEARCH
*/

search {

   width: calc(100% - 44px);

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: flex-start;
   justify-content: flex-start;
   align-items: stretch;

   margin: 0 20px;
   padding: 6px;

   border-radius: 11px;
   background-color: var(--blue-dim);
   background-image: var(--decoration);

   /* gap: 5px; */

}

search > primary {

   width: 100%;
   min-height: 32px;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

}

search > primary > bar {

   width: -webkit-fill-available;

   display: flex;
   flex-direction: row-reverse;
   flex-wrap: nowrap;
   align-content: flex-start;
   justify-content: flex-end;
   align-items: center;

   background-color: #010b1b;
   border-radius: 7px;

}

search > primary > bar > input {

   max-width: 300px;
   min-width: 300px;
   height: 38px;

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

   padding: 0 10px;

   color: var(--font-light);
   border-radius: 7px;
   background-color: transparent;

   overflow-x: scroll;

}

search > primary > bar > input::selection {

   background-color: var(--font-light);
   color: var(--blue-dark);

}

search > primary > bar > tags {

   width: -webkit-fill-available;

   display: flex;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-content: flex-start;
   align-items: flex-start;

   padding: 5px 5px;
   grid-gap: 5px;

}

search > primary > bar > tags > tag {

   padding: 1px 12px;

   color: var(--font-white);
   border-radius: 16px;
   background-color: var(--blue-dim);
   border: 2px solid var(--blue-dim);

   /* border: 2px solid transparent; */

   transition-duration: .2s;
   cursor: var(--tag-cursor);

}

search > primary > bar > tags > tag:hover {

   background-color: var(--tag-border);

}

search > primary > bar > tags > tag.negative {

   border-color: #ff83836b;
   background-color: #844a4a;

}

search > primary > bar > tags > tag.negative:hover {

   background-color: var(--tag-border-invert);

}


search > primary > bar > suggestions {

   position: absolute;
   left: -6px;
   top: 38px;

   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: stretch;
   justify-content: center;

   row-gap: 4px;
   padding: 10px;

   background-color: rgb(1, 11, 27);
   border: 6px solid var(--blue-dim);
   border-width: 0 6px 6px 6px;
   border-radius: 0 0 11px 11px;

   z-index: 99999;

}

search > primary > bar > suggestions > tag {

   width: -webkit-fill-available;

   cursor: pointer;
   text-align: center;

   border-radius: 10px;
   padding: 0 16px;

}

search > primary > bar > suggestions > tag:hover {

   background-color: var(--blue-dim);

}

search > primary > settings {

   margin-right: 5px;

}

search > primary > settings > img {

   width: 32px;
   height: auto;

   cursor: pointer;

}

search > primary > settings > img:hover {
   filter: drop-shadow(0px 0px 4px #000000DD);
}


/*
      POSTS
*/

middle > posts {

   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: center;
   align-items: flex-start;

   overflow-y: scroll;

}

middle > posts.unfocused {

   filter: grayscale(1) blur(3px);

}

posts > post {

   width: 175px;
   height: 175px;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;

}

posts > post > img {

   max-width: 150px;
   max-height: 150px;

   width: auto;
   height: auto;

   background-color: var(--blue-dim);
   border-radius: 8px;
   border: 3px solid transparent;

   transition: all 1s ease;

   cursor: pointer;

}

body.download::before {

   cursor: var(--selector-cursor);

}

body.download {

   cursor: unset;

}

body.download posts > post {

   cursor: var(--selector-cursor);

}

body.download posts > post > img {

   cursor: var(--selector-cursor);
   transition: none;

}

posts > post > img.dummy {

   width: 150px;
   height: 150px;

}


/*
      PAGINATION
*/

right > pagination {

   width: fit-content;
   height: fit-content;

   background-color: var(--blue-dim);
   background-image: var(--decoration);

   padding: 7px;
   border-radius: 11px;
   margin-left: 8px;
   gap: 7px;

   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

}

right > pagination > * {

   width: 28px;
   height: 28px;

   border-radius: 25%;
   box-shadow: #000000c2 0 0 3px;
   background-color: var(--blue-dim);
   border: 1px solid transparent;

   cursor: pointer;

}

right > pagination > *:hover {

   filter: brightness(0.7);
   box-shadow: #ffffff7d 0 0 2px;
   border-color: #ffffff78;

}

right > pagination > page {

   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;

   font-weight: bold;
   font-size: 16px

}

right > pagination > page.current {

   color: red;

}

right > pagination > previous > svg {

   width: 20px !important;
   height: 20px !important;
   padding: 4px;

}

right > pagination > next > svg {

   width: 20px !important;
   height: 20px !important;
   padding: 4px;

}


/*
      DOWNLOAD
*/

/*
      PAGINATION
*/

body.download right > download {

   display: flex;

}

right > download {

   width: fit-content;
   height: fit-content;

   background-color: var(--blue-dim);
   background-image: var(--decoration);

   border-radius: 11px;
   margin-left: 8px;
   gap: -7px;

   display: none;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: center;

}

right > download > * {

   margin: 7px;

}

right > download > level {

   width: 30px;
   height: 70px;

   border-radius: 5px;
   background-color: var(--blue-dark);

   overflow: hidden;
   filter: drop-shadow(0 0 1px black);

   display: none;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: flex-start;
   align-items: stretch;

}

right > download > level > * {

   width: 100%;

}

right > download > append {

   width: 28px;
   height: fit-content;

   border-radius: 6px;
   box-shadow: #000000c2 0 0 3px;
   background-color: var(--blue-dim);
   border: 1px solid transparent;

   cursor: pointer;

   display: none;
   flex-direction: column;
   flex-wrap: nowrap;
   align-content: center;
   justify-content: center;
   align-items: center;

   padding: 5px 0px;
   gap: 3px;

   user-select: all;

}

right > download > append:hover {

   filter: brightness(0.7);
   box-shadow: #ffffff7d 0 0 2px;
   border-color: #ffffff78;

}

right > download > selection {

   position: fixed;

   display: none;

   filter: saturate(1.6);
   border: 1px solid #FFFFFF66;
   border-radius: 3px;

}


/*
      HIDING ORIGINAL PAGE
*/

html#original * {
   visibility: hidden;
}

html#original div#blank , html#original div#blank * {
   visibility: visible;
}


#blank {
   position: absolute;

   min-width: 100vw;
   min-height: 100vh;
   max-width: 100vw;
   max-height: 100vh;

   background-color: gray;
   z-index: 99999999;

   background-color: var(--blue-dark);
   background-image: var(--background);
}
